<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>AgendeI | Gestão Inteligente de Equipamentos</title>

    <link rel="stylesheet"    type="text/css"   href="../static/css/style.css">
    <link rel="shortcut icon" type="image/png"  href="../static/images/favicon.png">

</head>
<body>
    <center>
    <header>
        <h3>Gerenciamento Inteligente de Equipamentos</h3>
    </header>  

    <section>
        <img class= "hero-image" src="../static/images/landing.svg" alt="Plataforma de Agendamento Inteligente">
        <br>
        <br>
        <!-- <button class="bt"><a href="/prelogin">Agendar</a></button>
        <button class="bt"><a href="/config">Configurar</a></button> -->
        <br>
        <form action="/" method="POST">
            <input class="bt" type="submit" name = "botao" value="Agendar"> <br>
            <input class="bt" type="submit" name = "botao" value="Configurar"> <br>
        </form>
    </section>

    <footer>
    </footer>
    </center>
</body>

</html>