<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen" />
  </head>
  

  <body>
    <center>
    <header>
      <h3>{{msg}}</h3>
    </header>

    <form action="/loginsenha" method="POST">
      <label for="pwd">Senha:</label>
      <input type="password" id="pwd" name="pwd">

      <br><br>
      <input class="bt" type="submit" value="Entrar"><br>
      <input class="bt" type="submit" href="/" value= "Voltar">
    </form> 
  </center>
  </body>
</html>