hr.barra { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 25%;
  margin-right: 25%;
  border-style: inset;
  border-width: 30px;
  color: #00ffaa;
  color: #c300ff;
} 
header{
  display: block;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
}
footer{
  display: block;
  text-align: center;
}


/* Imagem de capa */

img.centrado{
  display: block;
  margin-left: auto;
  margin-right: auto
}

.land-image{
	align-self: center;
	width: 50%;	
	border-collapse: collapse;
	margin: auto;
	min-width: 300px;
	margin-top: 50px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

}

/* Imagem do main */
.seta{
  width: 50px;
  height: 50px;
  align-content:space-between;
}
.seta:hover{
  /* background:linear-gradient(to bottom, #f4f8f6f8 5%, #dae2de 80%); */
  position:relative;
  top:5px;
}


/* Tabelas */
td{
	padding: 10px;
}
table{
	text-align: center;
	width: 50%;	
	border-collapse: collapse;
	margin: auto;
	min-width: 300px;
	margin-top: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color:  rgb(200,225,255);
}


/* Login */

.formlogin{
  display: block;
  text-align: center;
}



/* Botoes */


.bt {
  border:2px solid #24553a;
  border-radius:4px;
  display:inline-block;
  /* display:contents; */
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:28px;
  padding:6px 10px;
  text-decoration:#590174;
  width: 300px;
  height: 50px;
}
.bt:hover {
    background:linear-gradient(to bottom, #b1f3cbf8 5%, #8bad9c 100%);
}
.bt:active {
  position:relative;
  top:2px;}
   




/* .w3-third .bigbtn {
 border:1px solid #e3e3e3;
 background-color:#E7E9EB;
 color:#555;
 margin-bottom:16px;
 width:100%;
 padding:20px 0;
 text-align: center;
 vertical-align: middle;
 display: inline-block;
 text-decoration:none !important;
 border-radius:5px;
}
 
.bigbtn:hover, .bigbtn2:hover {
  background-color: #282A35; 
  color: #ffffff !important;
  border: 1px solid #555;
}

@media screen and (max-width: 992px){
.bigbtn {
  display: block;
  width: 100%;
}
}
.ribbon-vidx {
  width: 60px;
  font-size:14px;
  padding: 4px;
  position: absolute;
  left:-20px;
  top:-15px;
  text-align: center;
  color:black;
  border-radius:25px;
  -ms-transform: rotate(-20deg); 
  transform: rotate(-20deg);
}

.ws-yellow-hover:hover {
  background-color:#fff080!important;
  color:black!important;
}

.ws-hover-black:hover {
  background-color:black!important
} */
