<!DOCTYPE html>
<html lSang="pt-BR">
 
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
  

  <body>
    <h3>Tabelas: </h3>
    <button class="bt" name="btn_disciplinas" >  <a href="/tb_disciplinas">  Disciplinas   </a></button>
    <button class="bt" name="btn_usuarios" >     <a href="/tb_usuarios">     Usuários      </a></button>
    <button class="bt" name="btn_carrinhos" >    <a href="/tb_carrinhos">    Carrinhos     </a></button>
    <button class="bt" name="btn_equipamentos">  <a href="/tb_equipamentos"> Equipamentos  </a></button>
    <button class="bt" name="btn_reservas" >     <a href="/tb_reservas">     Reservas      </a></button>

    <hr>
  
    <header align="center">
      <h3>{{msg}}</h3>
    </header>
  
    <div class="w3-row-padding" style="margin-left:16px;margin-right:16px">

      {% for d in lista %}
      <div class="w3-third">
        <a class="bigbtn" href="/login/{{campo}}/{{d[0]}}"> {{d[1]}} </a>
      </div>
      {% endfor %}
  
    </div>
    <br>
  </body>
</html>