<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>PI1 - Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
  
    <header align="center">
      <h2>Editar Usuário</h2>
    </header>

    <a href="/">Usuários Cadastrados</a>

    <br><br>

    <form action="/edit/{{usuario[0][0]}}" method="POST">
      <label for="ename"> Nome: </label>
      <input type="text" name="editname" value={{usuario[0][1]}}><br>
      <p>Curso escolhido:</p>
      {%if usuario[0][2] == ("EC"): %}
      <input type="radio" name="editcourse" value="EC" checked>Engenharia da Computação<br>
      {%else: %}
      <input type="radio" name="editcourse" value="EC" >Engenharia da Computação<br>
      {%endif%}
      {%if usuario[0][2] == ("CD"): %}
      <input type="radio" name="editcourse" value="CD" checked>Ciência de Dados<br>
      {%else: %}
      <input type="radio" name="editcourse" value="CD" >Ciência de Dados<br>
      {%endif%}
      {%if usuario[0][2] == ("TI"): %}
      <input type="radio" name="editcourse" value="TI" checked>Tecnologia da Informação<br>
      {%else: %}
      <input type="radio" name="editcourse" value="TI" >Tecnologia da Informação<br>
      {%endif%}
      <input type="submit" value="Salvar">
      <input type="reset" value="Limpar">
    </form>


  </body>
  </html>