<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>PI1 - Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
  
    <header align="center">
      <h2>Editar Usuário</h2>
    </header>

    <a href="/">Usuários Cadastrados</a>

    <br><br>

    <form action="/add" method="POST">
      <label for="fname"> Nome: </label>
      <input type="text" id="fname" name="fname"><br>
      <p>Curso escolhido:</p>
      <input type="radio" id="ec" name="course" value="EC" <label for="ec">Engenharia da Computação<br>
      <input type="radio" id="cd" name="course" value="CD" <label for="ec">Ciência de Dados<br>
      <input type="radio" id="ti" name="course" value="TI" <label for="ec">Tecnologia da Informação<br>
      <input type="submit" value="Salvar">
      <input type="reset" value="Limpar">
    </form>


  </body>
  </html>