{% extends 'base.html' %}

{% block content %}

  <form class="formlogin" action="/gerenciar/disciplinas" method="POST">
    <label for="disciplina_id"> Código: </label>
    <input type="text" name="disciplinaCodigo" >
    <br><br>
    <label for="disciplina_nome"> Nome: </label>
    <input type="text" name="disciplinaNome"><br>
    <br>
    <input type="submit" value="Salvar">
  </form>

  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Disciplina</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for campo in lista %}
      <tr>
        <td> {{ campo[0] }} </td>
        <td> {{ campo[1] }} </td>
        <td>
          <a href="/gerenciar/disciplinas/del/{{campo[0]}}">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

