{% extends 'base.html' %}

{% block content %}

<form class="formlogin" action="/gerenciar/usuarios" method="POST">
  <label for="usuario_nif"> Nº Ident. Funcional: </label>
  <input type="text" name="usuarioNIF"><br>
  <br><br>
  <label for="usuario_nome"> Nome: </label>
  <input type="text" name="usuarioNome"><br>
  <br><br>
  <label for="usuario_usuarioDisciplina"> Disciplina: </label>
  <input list="browsers" name="usuarioDisciplina">
  <datalist id="browsers">
    {% for d in discip %}
    <option value={{d[0]}}>{{d[1]}}
    {% endfor %}
  </datalist>
  <br><br>
  <input type="submit" value="Salvar">
</form>




<table>
  <thead>
    <tr>
      <th>NIF</th>
      <th>Nome</th>
      <th>Disciplina</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for campo in lista %}
    <tr>
      <td> {{ campo[0] }} </td>
      <td> {{ campo[1] }} </td>
      <td> {{ campo[2] }} </td>
      <td>
        <a href="/gerenciar/usuarios/del/{{campo[0]}}">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
