<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>PI1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
  </head>
  

  <body>
  
    <header align="center">
      <h2>Projeto Integrador 1</h2>
    </header>
  
    <a href="/add">Adicionar usuário</a>
    <table>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Curso</th>
        <th>Ações</th>
      </tr>
      {% for e in lista %}
      <tr>

        <td> {{ e[0] }} </td>
        <td> {{ e[1] }} </td>
        <td> {{ e[2] }} </td>
        <td>
          <a href="/edit/{{ e[0] }}">Editar</a>
          <a href="/delete/{{e[0]}}">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </table> 

  </body>
  </html>