<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>PI1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css" >
  </head>
  

  <body>
  
    <header align="center">
      <h2>Projeto Integrador 1</h2>
    </header>
  
    <!-- Disciplina -->
    <div class="select-block">
      <label for="disciplina"> Disciplina </label>
      <select name="disciplina" id="disciplina" required>
          <option value="">Selecione uma Disciplina</option>
          {% for e in ucs %}
          <option value={{e[0]}}>{{e[1]}}</option>
          {% endfor %}
        </select>
    </div>
    <!-- Usuário: Professor(a) -->
    <div class="select-block">
      <label for="usuario"> Usuário </label>
      <select name="usuario" id="usuario" required>
          <option value="">Selecione um usuário</option>
          {% for e in profs %}
          <option value={{e[0]}}>{{e[1]}}</option>
          {% endfor %}
        </select>
    </div>
    <!-- Senha -->
    <form>
      <label for="pwd">Senha:</label>
      <input type="password" id="pwd" name="pwd">
      <br><br>
      <input type="submit" value="Entrar">
    </form> 

  </body>
</html>