{% extends 'base.html' %}

{% block content %}


<form class="formlogin" action="/login/validar" method="POST">
  <label for="username">Usuário:</label>
    <input list="browsers" name="browser">
    <datalist id="browsers">
      {% for u in user %}
        <option value="{{u[1]}}">
      {% endfor %}
    </datalist>
    <br><br>
    <label for="pwd">Senha : </label>
    <input type="password" id="pwd" name="pwd">
    <br><br>
    <button type="submit"> Acessar</button>
  </form> 


{% endblock %}
