<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>Principal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  

  <body>
    <header>
      <hr class="barra">
      <h2>Gerenciamento de Reservas</h2>
      <!-- <h3>{{cal}}</h3> -->
    </header>


    <table>
      <tr>
        <td><input class="seta" type="image" src="../static/images/icon/setaEsquerda.png" /></td>
        <td><h3>{{data}}</h3></td>
        <td><input class="seta" type="image" src="../static/images/icon/setaDireita.png" /></td>
      </tr>
    </table>


    <table>
      <thead>
        <tr>
          <th>Carrinho</th>
          <th>Usuário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for e in lista %}
        <tr>
          <!-- <td> {{ e[0] }} </td> -->
          <!-- <td> {{ e[1] }} </td> -->
          <td> {{ e[2] }} </td>
          <td> {{ e[3] }} </td>
          <td>
            {% if e[3] == user %}
            <a href="/main/detalhes/{{e[0]}}">Detalhes</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      <br>
      <a class="bt" href="/"> Voltar </a>
      <a class="bt" href="/login"> Login </a>
    </footer>
  </body>
</html>