<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
  </head>
  

  <body>
  
    <header align="center">
      <h2>Gerenciamento de Reservas</h2>
    </header>

    <!-- Calendário -->
    <form action="/manager" method="POST">
      <label for="calendario">Calendário:</label>
      <input type="date" id="calendario" name="calendario">
      <input type="submit" value="Buscar">
    </form>

    <form action="/manager" method="POST">
      <label for="carrinho"> Carrinho </label>
      <select name="carrinho" id="carrinho" required>
          <option value="">Carrinhos disponíveis</option>
          {% for e in car %}
          <option value={{e[0]}}>{{e[0]}}</option>
          {% endfor %}
        </select>
      <input type="submit" value="Reservar">
    </form>

    <hr>
    <table>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Carrinho</th>
        <th>Usuário</th>
        <th>Ações</th>
      </tr>
      {% for e in lista %}
      <tr>
        <td> {{ e[0] }} </td>
        <td> {{ e[1] }} </td>
        <td> {{ e[2] }} </td>
        <td> {{ e[3] }} </td>
        <td>
          <a href="/addreserva/{{e[0]}}">Reservar</a>
          <a href="/delreserva/{{e[0]}}">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </table> 

  </body>
</html>