<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  

  <body>
  
    <header align="center">
      <h2>Gerenciamento de Reservas</h2>
    </header>

    <!-- Calendário -->
    <form action="/manager" method="POST">
      <label for="calendario">Calendário:</label>
      <input type="date" id="calendario" name="calendario">
      <input type="submit" value="Buscar">
    </form>
    <hr>

    {% for d in car %}
    <div class="w3-third">
      <a class="bigbtn" href="/manager/{{d[0]}}"> {{d[1]}} </a>
    </div>
    {% endfor %}

    <hr>
    <table>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Carrinho</th>
        <th>Usuário</th>
        <th>Ações</th>
      </tr>
      {% for e in lista %}
      <tr>
        <td> {{ e[0] }} </td>
        <td> {{ e[1] }} </td>
        <td> {{ e[2] }} </td>
        <td> {{ e[3] }} </td>
        <td>
          <a href="/manager/delreserva/{{e[0]}}">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </table> 

  </body>
</html>