<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>Tabela Carrinhos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  

  <body>
  
    <header align="center">
      <h3>Tabela de Carrinhos</h3>
    </header>

    <form action="/tb_carrinhos" method="POST">
      <label for="carrinho_id"> ID: </label>
      <input type="text" name="carrinhoId"><br>

      <label for="carrinho_nome"> Nome: </label>
      <input type="text" name="carrinhoNome"><br>
      <br>
      <button name="bt_voltar" ><a href="/">Voltar</a></button>
      <input type="submit" value="Salvar">
    </form>


    <hr>

    <table>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Qtd. de Equipamentos</th>
        <th>Ações</th>
      </tr>
      {% for e in lista %}
      <tr>
        <td> {{ e[0] }} </td>
        <td> {{ e[1] }} </td>
        <td> {{ e[2] }} </td>
        <td>
          <a href="/delcarrinho/{{e[0]}}">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </table> 
  </body>
  </html>