<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>Tabela Usuários</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
  </head>
  

  <body>
  
    <header align="center">
      <h2>Tabela de Usuários</h2>
    </header>

    <form action="/tb_usuarios" method="POST">
      <label for="usuario_nif"> Código: </label>
      <input type="text" name="usuarioNIF" value={{editar[0][0]}}><br>

      <label for="usuario_nome"> Nome: </label>
      <input type="text" name="usuarioNome" value={{editar[0][1]}}><br>

      <label for="usuario_disciplina"> Disciplina: </label>
      <input type="text" name="usuarioDisciplina" value={{editar[0][2]}}><br>

      <label for="usuario_admissao"> Data de Admissão: </label>
      <input type="text" name="usuarioAdmissao" value={{editar[0][3]}}><br>
      <br>
      <input type="submit" value="Salvar">
    </form>


    <hr>

    <table>
      <tr>
        <th>NIF</th>
        <th>Nome</th>
        <th>Disciplina</th>
        <th>Data de Admissão</th>
        <th>Ações</th>
      </tr>
      {% for e in lista %}
      <tr>
        <td> {{ e[0] }} </td>
        <td> {{ e[1] }} </td>
        <td> {{ e[2] }} </td>
        <td> {{ e[3] }} </td>
        <td>
          <a href="/delusuario/{{e[0]}}">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </table> 


  </body>
  </html>