<!DOCTYPE html>
<html lang="pt-BR">
 
  <head>
    <title>Tabela Usuários</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css" />

  
  <!-- <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style> -->
  </head>
  

  <body>
  
    <header align="center">
      <h3>Tabela de Usuários</h3>
    </header>

    <form action="/tb_usuarios" method="POST">
      <label for="usuario_nif"> Nº Ident. Funcional: </label>
      <input type="text" name="usuarioNIF"><br>

      <label for="usuario_nome"> Nome: </label>
      <input type="text" name="usuarioNome"><br>

      <div class="select-block">
        <label for="usuario_disciplina"> Disciplina </label>
        <select name="usuarioDisciplina" id="usuarioDisciplina" required>
            <option value="">Selecione uma Disciplina</option>
            {% for e in ucs %}
            <option value={{e[0]}}>{{e[1]}}</option>
            {% endfor %}
          </select>
      </div>

      <br>
      <button name="bt_voltar" ><a href="/">Voltar</a></button>
      <input type="submit" value="Salvar">
    </form>


    <hr>

    <table>
      <tr>
        <th>NIF</th>
        <th>Nome</th>
        <th>Disciplina</th>
        <th>Ações</th>
      </tr>
      {% for e in lista %}
      <tr>
        <td> {{ e[0] }} </td>
        <td> {{ e[1] }} </td>
        <td> {{ e[2] }} </td>
        <td>
          <a href="/delusuario/{{e[0]}}">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </table> 


  </body>
  </html>